<section>
    <div class="container d-lg-flex d-none rounded bg-image bg-cover-nr text-white px-4 px-md-5 pt-3 pb-5 my-4">
        <div class="px-0 pb-lg-5 mb-lg-5">
            <h1>Se acerca el verano, no te quedes sin tu amarre</h1>
            <p class="lead fw-bold">
                La campaña de verano se acerca y muchos socios que hacen un uso estacional de nuestras instalaciones vuelven con nosotros como cada año.
                Si tu también estas pensando en ello, te recomendamos que contactes con nosotros cuanto antes para ir gestionando la asignación de amarres.
            </p>
            <p class="lead mb-5 pb-5">
                <a href="#" class="text-white fw-bold">Solicitar información</a>
            </p>
            <div class="d-lg-block d-none pye-2"></div>
        </div>
    </div>
    <div class="container d-lg-none d-flex rounded bg-info-soft text-white px-4 px-md-5 pt-3 my-4">
        <div class="px-0 pb-3">
            <h1>Se acerca el verano, no te quedes sin tu amarre</h1>
            <p class="lead fw-bold">
                La campaña de verano se acerca y muchos socios que hacen un uso estacional de nuestras instalaciones vuelven con nosotros como cada año.
                Si tu también estas pensando en ello, te recomendamos que contactes con nosotros cuanto antes para ir gestionando la asignación de amarres.
            </p>
            <p class="lead">
                <a href="#" class="text-white fw-bold">Solicitar información</a>
            </p>
        </div>
    </div>
</section>